<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home">

<div class="overlay center">

    <div class="hero-box">

        <h1>AI Resume Ranking System</h1>

        <p>
            Rank resumes intelligently using NLP (TF-IDF + Cosine Similarity)  
            and get detailed analysis of skills, strengths, and gaps.
        </p>

        <a href="/rank-page">
            <button class="cta-btn">Start Ranking</button>
        </a>

    </div>

</div>

</body>
</html>